.avatar-user {
  width: 40px;
  height: 40px;

}

.name-user {
  white-space: nowrap;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  font-weight: 600;
  margin-bottom: 2px;
  color: rgb(37 47 74 / var(--tw-text-opacity));
  margin-top: -4px;
}

.email {
  color: rgb(4, 104, 255);
}
