
.sliderHeading {
    margin-top: 170px !important;
    margin-bottom: 50px;
    margin-left: 70px;
    margin-right: 70px;
}
.imgSlide {
    width: 100%;
    border-radius: 10px;
    height: calc(100vh - 250px);
}