@import "../../.././././../../assets/scss/variables.scss";
.modalInfoWrap {
  &::before {
    @apply absolute content-[''] h-3 w-3 -top-1.5 right-5 rounded-t-[1px] bg-gray-100 transform rotate-45
  }

  .personalInformationWrap {
    .avtPopover {
      width: 70px;
      height: 70px;
      border-radius: 50px;
      border: 2px solid $colorMain;
      margin-bottom: 10px;
      object-fit: cover;
    }
    .name {
      @apply text-sm text-black-20 font-bold
    }
    .role {
      color: $colorGrayStrong;
      @apply text-xs
    }
    @apply flex justify-center items-center flex-col p-[13px] border-b
  }

  .mainModalInfoWrap {
    .menuInfoWrap {
      .itemInfoWrap {
        &:hover {
          @apply text-blue-65 bg-black-110 rounded-md
        }
        @apply p-2 cursor-pointer font-medium text-sm transition-all duration-300 text-black-20 flex justify-start items-center
      }
      @apply list-none m-0 p-3 border-0
    }
  }
  @apply min-w-[177px] bg-gray-100 rounded
}
