.studyRoadmapWrap {
  background: #cfe0e7;
  padding: 200px;
  background-image: url('https://png.pngtree.com/background/20231031/original/pngtree-3d-rendering-of-an-unoccupied-white-colored-modern-classroom-interior-picture-image_5821534.jpg');
  background-size: cover;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bd16eb;
    font-size: 50px;
    margin-bottom: 100px;
    font-weight: 700;
    background-color: rgba(202, 201, 202, 0.6);
    border-radius: 20px;
  }

  .skill1 {
    padding: 20px;
    padding-top: 45px;
    padding-left: 25%;
    border-radius: 20px;
    height: 200px;
    box-shadow: rgb(0, 0, 0) 0px 30px 50px -3px;
    background: linear-gradient(rgb(207, 208, 216) 0%, #bd16eb 0%, #322f68 100%);
    transition: transform 0.8s ease, box-shadow 0.3s ease;

    /* Thêm thuộc tính transition */
    &:hover {
      box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
      transform: scale(1.2);
    }

    .iconSkill {
      width: 50px;
      color: #cfe0e7;
    }

    .wrapTextAndIcon {
      display: flex;
      align-items: center;
      /* Thêm dòng này để căn giữa theo chiều dọc */

      .textSkill {
        font-size: 30px;
        /* Sửa lỗi font-size '20x' thành '20px' */
        color: rgb(37, 37, 37);
        margin-top: 20px;
        font-weight: 600;
        color: #cfe0e7;
      }

      .iconSkill2 {
        width: 20px;
        margin-left: 15px;
        /* Tùy chỉnh khoảng cách giữa icon và text nếu cần */
      }
    }
  }

  .bg1 {}

  .bg2 {
    transform: perspective(1000px) rotateY(35deg) rotateX(0deg);
    height: 190px;
    margin-top: 5px;
  }

  .bg3 {
    transform: perspective(1000px) rotateY(-35deg) rotateX(0deg);
    height: 190px;
    margin-top: 5px;
  }

  .bg4 {}
}