.paginationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .selectPerPageWrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .textShowPage {
      margin-left: 10px;
      font-size: 14px;
    }
  }
}
